:root {
    --main-bg-color: hsl(185, 75%, 39%);
    --card-bg-color:white;
    --text-color: hsl(229, 23%, 23%);
    --line-color: hsl(240, 57%, 91%);
    --stats-color: hsl(0, 0%, 59%);
}

body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 35vw bottom 50vh, left 30vw top 50vh;
    background-color: var(--main-bg-color);
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--card-bg-color);
    width: 330px;
    height: 360px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    overflow: hidden;
}

.card__header {
    background-image: url('/images/bg-pattern-card.svg');
    height: 130px;
    position: relative;
}

.card__img {
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 5px solid var(--card-bg-color);
    background-color: var(--card-bg-color);
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.card__text {
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 700;
}

.card__text--name {
    font-weight: 900;
    color: var(--text-color);
}

.card__text--age {
    font-size: 16px;
    font-weight: 500;
    color: var(--stats-color);
    padding-left: 3px;
}

.card__text--city {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--stats-color);
    padding-top: 5px;
}

.card__footer {
    border-top: 1px solid var(--line-color);
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
}

.card__stats {
    width: 100%;
    text-align: center;    
}

.card__number {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.5;
    color: var(--text-color);
}

.card__text--light {   
    font-size: 10px;
    font-weight: 700;
    color: var(--stats-color);
    letter-spacing: 1.5px;
    padding: 0 .3rem;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
}

.attribution { 
    font-size: 10px; 
    text-align: center; 
    color: var(--text-color);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 768px) {
    body {
        background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    }
}